body {
  color: #222222;
  font-size: 1em;
  font-family: "freight-big",georgia,times,serif;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 2em 0;
  background-image: url('http://s12.postimg.org/fln4xqi3h/chamonix_1600_1200.png');
  background-color: #33449c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-left: solid 2em #FFFFFF;
  border-right: solid 2em #FFFFFF;
  border-top: solid 2em #FFFFFF;
  padding-bottom: 15%;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "freight-big",georgia,times,serif;
  font-size: 2em;
}

.masthead-heading {
  margin-top: 35em;
  font-family: "freight-big",georgia,times,serif;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 2em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.content-footer,
.introduction-section,
.location-section,
.question-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
  display: inline-block;

}

.introduction > p,
.location > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.5em;
}


.content-footer > p {
  color: #FF0000;
}

section > h1 {
  margin-top: 2em;
}